body
{
    color: darkblue;
    text-align: center;
    font-family:monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color:blueviolet;
    
}

#container
{
    box-shadow: 5px 7px 28px -3px rgba(0,0,0,0.62);
    background-color: aliceblue;
    font-size: 15px;
    width: 50%;
    padding: 0;
    border-bottom: 3px solid #faf;
    border-left: 10px solid #A5E3F5;
    border-right:10px solid #CCF5A5;
    border-top:3px solid #ddd;
    text-align: center;
    margin: 0 auto;
    margin-top: 10;


}

#container h1
{
    font-size: 25px;
}

#cabecera 
{
    background-color:lightpink;
    color: white;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;

}


#cabecera #tagline
{
    font-weight: normal;
    font-size: 0.8em;
}